<html>

<head>
    <meta charset="utf-8">
    <title> Biblioteka </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body style="background-color: whitesmoke">

    <h1>
        Biblioteka
    </h1>

    <a class="btn btn-secondary" href="form.html" role="button">Dodaj ksiazke</a>
    <br />
    <br />
    <a class="btn btn-secondary" href="ksiazki.html" role="button">Wroc</a>

</body>

</html>
